{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body p-5">
          <h2 class="text-center mb-4">Login</h2>
          <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark w-100 mt-3">Login</button>
          </form>
          <p class="text-center mt-3">
            Don't have an account? <a class="link-dark" href="{% url 'account_signup' %}">Sign up</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}