/* Fixed Navbar */
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000 !important;
    background-color: #000000;
    color: #ffffff;
}

/* Navbar links styling */
.navbar-nav .nav-link {
    font-weight: normal;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}


/* Body and main adjustments */
body {
    padding-top: 56px;
    background-color: #F9FAFC;
}

main {
    flex: 1;
    padding-bottom: 1rem;
}

.room-card-media {
    height: 250px;
    overflow: hidden;
}

.room-card-media__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
} 

/* Footer */
footer {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

/* Media queries */ 
/* The Capstone Hotel brand text was too large on small screens */

@media (max-width: 375px) {
    .navbar-brand {
        font-size: 0.95rem;
    }
}

/* Removed footer being stuck as on mobiles it obstructed too much screen 
Larger screens, the footer is fixed at the bottom 
and main content has padding to prevent overlap */

@media (min-width: 992px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    main {
        padding-bottom: 60px; /* space for fixed footer */
    }
}